* {
    /* margin: 0 auto; */
    /* align-items: center; */
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    /* font-weight: 300; */
    /* font-style: normal; */
    /* list-style: none; */
}

.header__input__search2{
    border: none;
    border-radius: 5px 0 0 5px;
}

.header__container__div{
    width: 100%;
}

.header__logo__container{
    margin-right: 2%;
}

main{
    background-color: #ebebeb;
}

.div__main__container{
    margin-bottom: 5%;
    padding: 0 0 5% 0;
}

.header__logo__search__and__description{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.header__description__and__icon{
    width: 35%;
    margin-left: 2%;
}

.header__home-icon{
    width: 100%;
    height: 100%;
}

.main__image-banner__container{
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.main__image-banner{
    width: 80%;
}


li a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none
}


header{  
    background-color: #EAC926;
    display: flex;
    justify-content: center;
}

/* p{
    width: 300px;
} */

.main__img__producto{
    width:  40%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.main__section__h4{
    text-align: start;
    font-weight: 400;
    color: #666;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.body__search-icon{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 1rem;
    width: 1rem;
    padding: 1rem;
    background-color: white;
    border-color: black;
    border: 2px solid black;
}

footer div p{  /* Descripciones en footer */
    font-size: 16px;
}

.main__div__precio__y__descuento{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.main__span__precio{
    width: 40%;
}

.main__span__descuento{
    width: 60%;
}

.main__product__box{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
}

.main__product__details__padding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30% 0 30%;
}

.main__product__details__background{
    padding: 0 10px 10px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: nowrap;
    justify-content: flex-start;
    border: 1px solid #ebebeb;
}

.main__product__icon__container{
    margin: 0 0;
    position: relative;
    left: 90%;
    bottom: 10px;
}


.main__product__icon{
    text-align: start;
    border: 1px solid #39b54a;
    border-radius: 50%;
    color: #39b54a;
    padding: 2px;
}

.main__p__precio{
    font-size: 18px;
    text-align: start;
}

.main__p__descuento{
    font-size: 16px;
    text-align: start;
    color: #39b54a;
}

.main__section__titular{
    font-size: 24px;
    text-align:center;
}

.burger-menu{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2vw;
    padding: 2vh;
    /* width: 3rem;
    height: 3rem; */
}

.burger-menu i{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    padding: 1rem;
    color: white;
    background-color: #1259c3;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    flex-wrap: wrap;
    border: 5rem;
    font-size: 1.5rem;
}

.main__section__container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer__h3{
    font-weight: bold;
}

.footer__icon{
    color: #1259c3;
    font-size: 2em;
}

.footer__div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.footer__div__description{
    margin-bottom: 50px;
    text-align: center;
}

.footer__div__icon{
    margin-bottom: 10px;
}

@media (max-width: 767px) {

    .header__form{
        width:100%
    }

    .header__input__search2{
        width:100%;
        height: 30px;
    }

    .body__search-icon{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        height: 30px;
        height: 30px;
        background-color: white;
        border: none;
        border-radius: 0 5px 5px 0;
    }

    .header__p{
        text-align:center;
    }

    .header__container__div{
        padding: 5% 0 0 0
    }

    .header__logo__container{
        width: 35%;
        height: 100%;
    }
    
    .header__form__and__icon{
        display: flex;
        flex-direction: row;
        width: 40%;
    }
    
    .header__description__and__icon{
        width: 80%;
        margin-top: 20px;
    }

    .header__nav__container{
        display:none;
    }

    .main__img__producto{
        width:  80%;
        height: 80%;
    }

    .main__product__details__padding{
        padding: 0 10% 0 10%;
    }

    .main__image-banner {
        width: 100%;
    }

    .main__section__h4{
        display:none;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {



    .burger-menu{
        display:none;
    }
    
    header{
        display: flex;
        flex-direction: column;
        align-content: left;
    }

    .header__container__div{
        padding: 2% 2% 2% 2%;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
    }

    .header__nav__container{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
    }

    .header__logo__container{
        width: 25%;
        height: 100%;
    }

    .header__form__and__icon{
        display: flex;
        flex-direction: row;
        width: 25%;
    }

    .body__search-icon{
        margin-left: 2%;
    }

    .header__input__search2{
        height: 28px;
        width: 100%
    }
    
    .footer__div{
        justify-content: center;
    }
}

@media (min-width: 1023px){
    .burger-menu{
        display:none;
    }
    
    header{
        display: flex;
        flex-direction: column;
        align-content: left;
    }
    .header__container__div{
        padding: 2% 2% 2% 2%;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
    }

    .header__nav__container{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: left;
    }

    .header__logo__container{
        display:flex;
    }

    .header__form__and__icon{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .body__search-icon{
        margin-left: 2%;
    }

    .header__input__search2{
        height: 28px;
        width: 100%;
    }

    .footer__div{
        justify-content: center;
    }
}