* {
    /* margin: 0 auto; */
    /* align-items: center; */
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    /* font-weight: 300; */
    /* font-style: normal; */
    /* list-style: none; */
}

main{
    background-color: #ebebeb;
}

.div__main__container{
    margin-bottom: 5%;
}

.header__home-icon{
    width: 70%;
    height: 70%;
}

.main__image-banner__container{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.main__image-banner{
    width: 80%;
}


li a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none
}


header{  
    background-color: #EAC926;
    display: flex;
    justify-content: center;
}

/* p{
    width: 300px;
} */

.main__img__producto{
    width:  40%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.main__section__h4{
    text-align: center;
}

.body__search-icon{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 1rem;
    width: 1rem;
    padding: 1rem;
    background-color: white;
    border-color: black;
    border: 2px solid black;
}

footer div p{  /* Descripciones en footer */
    font-size: 16px;
}

.main__p__precio{
    font-size: 18px;
    text-align: center;
}

.main__p__descuento{
    font-size: 16px;
    text-align: center;
}

.main__section__titular{
    font-size: 24px;
    text-align:center;
}

.burger-menu{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2vw;
    padding: 2vh;
    /* width: 3rem;
    height: 3rem; */
}

.burger-menu i{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    padding: 1rem;
    color: white;
    background-color: #1259c3;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    flex-wrap: wrap;
    border: 5rem;
    font-size: 1.5rem;
}

.main__section__container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer__h3{
    font-weight: bold;
}

.footer__icon{
    color: #1259c3;
    font-size: 2em;
}

.footer__div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.footer__div__description{
    margin-bottom: 50px;
    text-align: center;
}

.footer__div__icon{
    margin-bottom: 10px;
}
