*{
    font-family: "Roboto", sans-serif;
}

.header{
    background-color: #EAC926;
}

.burger-menu{
    display:none;
}

.header__div__container{
    display:grid;
    flex-wrap: wrap;
    flex-direction:column;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.header__login__first{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.header__nav{
    display:flex;
    flex-direction: row;
    width: 40%;
    height: 40%;
}

.header__first__image{
    display: block;
}

.header__ul{
    display:flex;
    flex-direction: row;
}

.header__input__search{
    size: 10%;
}

.header__nav{
    display:flex;
    flex-direction: column;
}

.header__div__p__icon{
    size: 10%;
}

/* .header__div__searchbar{
    margin-left: 5%;
} */
