* {
    /* margin: 0 auto; */
    /* align-items: center; */
    font-family: "Roboto", sans-serif;
    /* font-weight: 300; */
    /* font-style: normal; */
    /* list-style: none; */
}

header{
    background-color: #EAC926;
}

.header__first__image{
    color: red;
}

.header__login__first{
    display:flex;
    flex-wrap:nowrap
    width:40%;
    height:40%;
}